<p><b>NOTE:</b>When looking at the views implementation for polls,
Know that this could be done through generic templates that already come in Django. 
Take a look at <a href="https://docs.djangoproject.com/en/1.8/intro/tutorial04/">tutorial secion 04</a> under the 'Amend Views' section for more info!</p>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
